GameUserInterface/Connected Services/ConnectServiceReference/connect3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameLibrary.Scripts.RemoteKeyboardControlScripts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameLibrary.Scripts.RemoteKeyboardControlScripts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RemoteKeyboardState">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeyA" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyD" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyE" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyQ" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyS" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeySpace" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyW" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteKeyboardState" nillable="true" type="tns:RemoteKeyboardState" />
</xs:schema>